<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label 'First Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Last Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lastname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :membership_id , :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :membership_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Renter Membership ID", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field 'membership_id', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :major, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :major, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Graduation Year', :class => 'control-label' %>
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span name='user[year]'>Choose Year</span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        
        <% [0, 1, 2, 3, 4, 5].each do |i| %>
          <li>
            <a href="#"><%= Time.now.year + i.to_i %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
